* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding-top: 50px;
  background: #ce4242;
	background: rgb(246,248,249);
	background: -moz-linear-gradient(45deg,  rgba(246,248,249,1) 0%, rgba(212,219,217,1) 22%, rgba(212,219,217,1) 23%, rgba(220,229,227,1) 23%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 50%, rgba(222,228,229,1) 78%, rgba(222,228,229,1) 78%, rgba(239,239,239,1) 78%, rgba(245,247,249,1) 100%);
	background: -webkit-linear-gradient(45deg,  rgba(246,248,249,1) 0%,rgba(212,219,217,1) 22%,rgba(212,219,217,1) 23%,rgba(220,229,227,1) 23%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 50%,rgba(222,228,229,1) 78%,rgba(222,228,229,1) 78%,rgba(239,239,239,1) 78%,rgba(245,247,249,1) 100%);
	background: linear-gradient(45deg,  rgba(246,248,249,1) 0%,rgba(212,219,217,1) 22%,rgba(212,219,217,1) 23%,rgba(220,229,227,1) 23%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 50%,rgba(222,228,229,1) 78%,rgba(222,228,229,1) 78%,rgba(239,239,239,1) 78%,rgba(245,247,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 );

}

#calc-container {
	width: 100%;
	max-width: 400px;
	background: #eaeaea;
	background: #232733;
	/*padding: 20px;*/
	margin: 0 auto;
	box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.25);
	position: relative;
	overflow: auto;
}


/*
================================
	SCREENS
================================
*/


#screen-container {
	/*background: rgb(226, 226, 226);*/
	background: rgb(241, 241, 242);
	/*padding: 20px;
	margin-bottom: 20px;*/
	text-align: right;
	font-family: 'Share Tech Mono', monospace;
}

.screen-wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
	padding: 20px;
}

.screen-wrapper:first-child {
	/*border-bottom: 1px solid #dadada;
	min-height: 20px;
	margin-bottom: 5px;*/
  min-height: 40px;
  margin-bottom: 5px;
  /*background: #7bd0de;
	border-bottom: 1px solid #69b3bf;*/
	border-bottom: 2px solid #8fd7e2;
	background: #95dde8;
	padding: 5px 20px 5px 50px;
}

.screen {
	float: right;
}

#screen {
	height: 50px;
	overflow: hidden;
	font-size: 2em;
}

#screenSmall {
	font-size: 0.84em;
}


/*
================================
	BUTTONS
================================
*/

.grid button {
	border: 1px solid rgba(24, 24, 24, 0.3);
}

button {
	background: #eaeaea;
	border: 1px solid transparent;
	border: 1px solid rgba(247, 247, 247, 0);
	font-size: 1.7em;
  color: #333333;
	cursor: pointer;
	outline: none;
	width: 25%;
  height: 70px;
  /*margin-bottom: 10px;*/
	font-family: 'Source Code Pro', monospace;
	font-weight: 200;
  color: #aabff1;
	background: #232733;
	float: left;
}

button:hover {
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  background: #333a4e;
  border-top: 1px solid #414a63;
  position: relative;
  color: #50c37f;
}

button:active {
  background: #f1f1f1;
	background: #262a38;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
}

button.active {
	background: #f1f1f1;
	background: #262a38;
	color: #50c37f;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
	position: relative;
}

button sup {
	font-size: 12px;
  font-weight: 800;
  position: relative;
  left: 3px;
  top: -3px;
}

button#sqrt {
	font-family: sans-serif;
}

button#plus {
	height: 140px;
	float: right;
}

button#equality {
	height: 140px;
	float: right;
}

button#equality:hover {
	background: #7bd0de;
	background: #7bde88;
  color: #232733;
}

button#zero {
	width: 50%;
}


/*
================================
	MENU
================================
*/


#menu {
	position: absolute;
	left: -300px;
	top: 0;
	bottom: 0;
	width: 70%;
	max-width: 280px;
	background: #e42e2e;
	color: #232733;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
	font-weight: 800;
  padding: 20px;
	z-index: 2;
	box-shadow: 2px 0px 20px 0px rgba(0,0,0,0.3);
	transition: all 0.2s cubic-bezier(.69,.16,.03,1);
}


#menu.active {
	left: 0px;
}

#grid {
	background: #a92323;
  border: 5px solid #a92323;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0px 0px -2px 6px;
  cursor: pointer;
  outline: none;
	position: relative;
}

#grid:checked {
	background: #232733;
}

input#grid:after {

}

input#grid:checked:after {
	content: "On";
  position: absolute;
  left: 26px;
  top: -10px;
  font-size: 26px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
  color: #232733;
	animation: fadeOut 0.8s 1s ease forwards;
}


@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

.themes {
	margin-top: 50px;
}

.preview {
	display: table;
	border: 5px solid transparent;
	margin-top: 16px;
	cursor: pointer;
}

.preview.selected {
	border: 5px solid #a92323;
}

.preview div {
	width: 35px;
	height: 35px;
	display: table-cell;
}

#theme-blue-preview .color-1 { background: #232733; }
#theme-blue-preview .color-2 { background: #f1f1f2; }
#theme-blue-preview .color-3 { background: #95dde8; }

#theme-white-preview .color-1 { background: #f1f1f2; }
#theme-white-preview .color-2 { background: #f7f7f7; }
#theme-white-preview .color-3 { background: #c2fbd4; }


.colors-wrapper {
	border-top: 2px solid #a92323;
	margin-top: 20px;
}

.colors-wrapper p {
	margin: 16px 0;
  cursor: default;
}


/*
================================
	MENU ICON
================================
*/


.menu-icon-wrapper {
	position: absolute;
	right: -64px;
	top: 0px;
	background: #67c0ce;
	padding: 7px;
	transition: all 0.2s ease;
}

.active .menu-icon-wrapper {
	right: 0;
	background: #e42e2e;
}


.menu-icon {
  cursor: pointer;
  width: 30px;
  height: 25px;
}
.menu-icon i {
	content: '';
	display: block;
	width: 100%;
	height: 4px;
  background-color: #fff;
  border-radius: 2px;
	transition: all .2s linear;
}
.menu-icon i:nth-child(2) {
  margin: 5px 0;
}
.menu-icon.active i:nth-child(1) {
	transform: translateY(9px) rotate(135deg);
	-webkit-transform: translateY(9px) rotate(135deg);
}
.menu-icon.active i:nth-child(2) {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.menu-icon.active i:nth-child(3) {
	transform: translateY(-9px) rotate(135deg);
	-webkit-transform: translateY(-9px) rotate(135deg);
}





/*
================================
	THEMES
================================
*/


/* white theme */

.theme-white #screen-container {
	background: rgb(247, 247, 247);
}

.theme-white .grid button {
  border: 1px solid rgba(193, 193, 193, 0.3);
}

.theme-white button {
	background: #f1f1f2;
  color: #333333;
}

.theme-white button:hover {
	background: #fdfdfd;
  border-top: 1px solid #ffffff;
}

.theme-white button:active {
	background: #f8f8f9;
}

.theme-white button.active {
	background: #f8f8f9;
}

.theme-white .screen-wrapper:first-child {
  border-bottom: 2px solid #bbf1cc;
  background: #c2fbd4;
}

.theme-white .menu-icon-wrapper {
	background: #a0e0b4;
}

.theme-white .active .menu-icon-wrapper {
  background: #e42e2e;
}
